      npar = 2
    istart = 0
    icharg = 2
      prec = Accurate
      algo = VeryFast
      nelm = 200
     ediff = 1E-6
    ibrion = 0
      isif = 3
       nsw = 0
    ediffg = 1E-6
     potim = 0.20
       gga = AM
     encut = 500
    nbands = 20
    ismear = 0
     sigma = 0.05
     ispin = 1
     lwave = .FALSE.
    lcharg = .TRUE.
     lvtot = .FALSE.
