 running on    1 total cores
 distrk:  each k-point on    1 cores,    1 groups
 distr:  one band on    1 cores,    1 groups
 using from now: INCAR     
 vasp.5.4.1 24Jun15 (build Jan 21 2017 23:00:56) complex                        
  
 POSCAR found type information on POSCAR  V  N 
 POSCAR found :  2 types and       2 ions

 ----------------------------------------------------------------------------- 
|                                                                             |
|  ADVICE TO THIS USER RUNNING 'VASP/VAMP'   (HEAR YOUR MASTER'S VOICE ...):  |
|                                                                             |
|      You enforced a specific xc-type in the INCAR file,                     |
|      a different type was found on the POTCAR file                          |
|          I HOPE YOU KNOW, WHAT YOU ARE  DOING                               |
|                                                                             |
 ----------------------------------------------------------------------------- 

 LDA part: xc-table for Pade appr. of Perdew
 POSCAR, INCAR and KPOINTS ok, starting setup
 FFT: planning ...
 WAVECAR not read
 entering main loop
       N       E                     dE             d eps       ncg     rms          rms(c)
RMM:   1    -0.554577085659E+02   -0.55458E+02   -0.46396E+03 14300   0.274E+02
RMM:   2    -0.237370357718E+02    0.31721E+02   -0.25399E+02 14300   0.580E+01
RMM:   3    -0.251867031695E+02   -0.14497E+01   -0.71476E+00 14300   0.116E+01
RMM:   4    -0.252489521908E+02   -0.62249E-01   -0.40677E-01 35664   0.278E+00
RMM:   5    -0.252502772934E+02   -0.13251E-02   -0.76831E-03 43315   0.373E-01    0.338E+01
RMM:   6    -0.212558294298E+02    0.39944E+01   -0.71215E-01 41725   0.326E+00    0.234E+01
RMM:   7    -0.202204983310E+02    0.10353E+01   -0.97063E-02 41195   0.121E+00    0.127E+01
RMM:   8    -0.202255222296E+02   -0.50239E-02   -0.15288E-02 41856   0.485E-01    0.397E+00
RMM:   9    -0.200838121624E+02    0.14171E+00   -0.91559E-03 41275   0.373E-01    0.534E-01
RMM:  10    -0.200835021390E+02    0.31002E-03   -0.18419E-04 41244   0.572E-02    0.142E-01
WARNING in EDDRMM: call to ZHEGV failed, returncode =   8  4 44
WARNING in EDDRMM: call to ZHEGV failed, returncode =   8  4 44
RMM:  11    -0.200834127319E+02    0.89407E-04   -0.21933E-05 41300   0.203E-02    0.877E-02
RMM:  12    -0.200834092738E+02    0.34581E-05   -0.24577E-06 40764   0.651E-03    0.861E-03
WARNING in EDDRMM: call to ZHEGV failed, returncode =   6  3 37
WARNING in EDDRMM: call to ZHEGV failed, returncode =   6  3 44
RMM:  13    -0.200834086710E+02    0.60285E-06   -0.43908E-08 38011   0.909E-04
   1 F= -.20083409E+02 E0= -.20082200E+02  d E =-.241720E-02
